body {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

/* section repo */

#section-1 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Banner {
  height: 680px;
}
.repo {
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  padding: 7% 0;
}
.repo-one {
  color: white;
  position: absolute;
  font-size: 32px;
  left: 45%;
  top: 38%;
}
.repo-two {
  position: absolute;
  color: white;
  font-size: 72px;
  left: 25%;
  top: 43%;
  text-align: center;
}
/* section offer  */

.offer-title {
  line-height: 27%;
}
.offer-one {
  position: relative;

  left: 37%;
  color: orangered;
  font-size: 88px;
}
.offer-two {
  position: relative;
  font-size: 24px;
  left: 35%;
  color: orangered;
}
.offer-three {
  position: relative;
  font-size: 48px;
  left: 470px;
}
.new-year {
  width: 802px;
  height: 500px;
  padding: 0 18%;
}
/* section vactor */
.Vectorr {
  position: absolute;
  padding: 9% 0;
  fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  display: flex;
  justify-content: space-between;
}
.Vectorr-one {
  padding: 25%;
  position: absolute;
}
.Vectorr-two {
  height: 680px;
}
.group {
  height: 465px;
  width: 320px;
  padding: 0 58% 0;
  position: absolute;

  left: 1%;
  bottom: 14%;
}
.midnight {
  position: absolute;
  top: 20%;
}
.midnight-one {
  color: white;
  font-size: 64px;
  letter-spacing: 7px;
  line-height: 88px;
  padding: 0 16%;
}
.midnight-Dolor {
  padding-right: 35%;
}
.midnight-two {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  padding: 0 25%;
}
.midnight-three {
  padding: 2% 17%;
  font-size: 20px;
}
.midnight-button {
  border: none;
  background: none;
  color: #fff;
}
/* tim line section  */
.time-line-color {
  border-radius: 16px;
  background-color: rgba(255, 0, 0, 0.05);
}
.time-line {
  padding: 65% 0 0 0;
  font-size: 32px;
  text-align: center;
}
.time-line-one {
  color: #f00;
}
.time-line-button {
  background-color: #f00;
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
}

/* section terminal  */
.terminal {
  position: absolute;
}
.terminal-one {
  color: #f00;
  font-size: 24px;
}
.terminal-two {
  font-size: 48px;
  font-weight: 900;
}
.terminal-three {
  font-size: 20px;
  color: rgba(7, 2, 17, 0.6);
  width: 393px;
}
.terminal-title {
  padding: 34% 0 0;
}

.ellipse {
  position: absolute;
  left: 440px;
  top: 100px;
}
#ellipse-border {
  border: 15px solid #f00;
  border-radius: 630px;
  padding: 14px;
  margin: auto;
}
.terminal-new-one {
  position: absolute;
  left: 70%;
  padding: 7% 0 0;
}
.terminal-all-div {
  padding: 10px 0;
  text-align: center;
}
.terminal-new-year {
  padding-left: 18px;
  font-size: 48px;
  color: #f00;
}
.terminal-new-dolor {
  font-size: 28px;
  color: rgba(7, 2, 17, 0.6);
  padding: 0 20px 0;
  right: 10%;
}
.terminal-img {
  padding-left: 10px;
}
/* six image section  */
.section-img {
  padding: 65% 0 0 3%;
  justify-content: center;
}
.gift-section {
  position: absolute;
  padding: 43% 0 0 3%;
  line-height: 20px;
  left: 5%;
}
.gift-one {
  color: #f00;
  font-size: 24px;
}
.gift-two {
  font-size: 48px;
}
.gift-three {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 896px;
}
/* footer section  */
/* footer { 
  width: 1600px;
  height: 609px;
  background: #070211;
}
.none {
} */
.images-all-icon {
  margin: 20px;
  height: 64px;
  display: flex;
}
.call-icon {
  width: 24px;
  height: 24px;
  padding-right: 20px;
}
#Facebook-icon {
  padding-right: 10px;
  display: flex;
}
/* middle subscribe section middle */
.subscribe {
  border-radius: 16px;
  background-color: rgba(255, 0, 0, 0.05);
  padding: 10% 0;
  align-items: center;
}
.subscribe-images {
  padding-left: 45%;
}
.subscribe-consectetur {
}
.subscribe-one {
  text-align: center;
  font-size: 48px;
}
.subscribe-two {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.search-bar {
  height: 46px;
  border-radius: 50px 0 0 50px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgb(192, 192, 192);
  width: 30%;
}
.input-search {
  padding-left: 35%;
  display: flex;
}
#tag-h1-search {
  font-size: 20px;
  border-radius: 0 50px 50px 0;
  height: 50px;
  background-color: #f00;
  border: 1px solid rgb(192, 192, 192);
  width: 140%;
}
.bottom-tag {
  padding-bottom: 10px;
}
