body {
  margin: 0;
  padding: 5%;
}
/* section repo */
.Banner {
  width: 1380px;
  height: 680px;
}
.repo {
  position: absolute;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  padding: 7% 0;
}
.repo-one {
  color: white;
  position: absolute;
  font-size: 32px;

  left: 45%;
  top: 38%;
}
.repo-two {
  position: absolute;
  color: white;
  font-size: 72px;
  left: 25%;
  top: 43%;
  text-align: center;
}
/* section offer  */
.offer {
  padding: 800px 0 0 0;
}
.offer-title {
  line-height: 27%;
}
.offer-one {
  position: relative;

  left: 37%;
  color: orangered;
  font-size: 88px;
}
.offer-two {
  position: relative;
  font-size: 24px;
  left: 35%;
  color: orangered;
}
.offer-three {
  position: relative;
  font-size: 48px;
  left: 470px;
}
.new-year {
  width: 802px;
  height: 500px;
  padding: 0 18%;
}
/* section vactor */
.Vectorr {
  position: absolute;
  padding: 9% 0;
  fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  display: flex;
  justify-content: space-between;
}
.Vectorr-one {
  padding: 25%;
  position: absolute;
}
.Vectorr-two {
  width: 1380px;
  height: 680px;
}
.group {
  height: 465px;
  width: 320px;
  padding: 0 58% 0;
  position: absolute;

  left: 1%;
  bottom: 14%;
}
.midnight {
  position: absolute;
  top: 20%;
}
.midnight-one {
  color: white;
  font-size: 64px;
  letter-spacing: 7px;
  line-height: 88px;
  padding: 0 16%;
}
.midnight-Dolor {
  padding-right: 8%;
}
.midnight-two {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  padding: 0 17%;
}
.midnight-three {
  padding: 2% 17%;
  font-size: 20px;
}
.midnight-button {
  border: none;
  background: none;
  color: #fff;
}
/* tim line section  */
.time-line {
  position: absolute;
  gap: 300px;
  left: 31%;
  font-size: 32px;
  text-align: center;
  background-color: rgb(251, 129, 129);
}
.time-line-one {
  color: #f00;
}
.time-line-button {
  background-color: #f00;
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
}
.NONE {
  padding: 65% 0;
}
